body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}

.button, button {
    display: inline-block;
    background: #007BFF;
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover {
    background: #0056b3;
}
